---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Contact from "@/components/Contact.astro"
import MailIcon from "@/components/icons/Mail.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
---

<Layout
  title="Haion - Innovación Tecnológica | Próximamente"
  description="Haion está desarrollando soluciones tecnológicas innovadoras. Especialistas en desarrollo web moderno, aplicaciones móviles y sistemas escalables. Mantente atento para descubrir nuestros próximos proyectos."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre nosotros
      </TitleSection>
      <AboutMe />
    </SectionContainer>

    <SectionContainer id="contacto">
      <TitleSection>
        <MailIcon class="size-8" />
        Contacto
      </TitleSection>
      <Contact />
    </SectionContainer>
  </div>
  </main>
</Layout>