---
import BadgeStatic from "@/components/BadgeStatic.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/haion_landing/logo-empresa.jpg"
      alt="[NOMBRE_EMPRESA] - Logo"
    />
    <div class="flex items-center md:justify-center">
      <BadgeStatic>[ESTADO_EMPRESA]</BadgeStatic>
    </div>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    [SALUDO_PRINCIPAL]
  </h1>
  <p class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white mt-2">
    [PALABRA_CLAVE_EMPRESA]
  </p>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    [DESCRIPCION_PRINCIPAL]<br/>
    [PROPUESTA_VALOR]<br/>
    [LLAMADA_ACCION]
  </p>
</div>