---
const placeholderImageAlt = "Haion - Próximamente"
import BadgeStatic from "@/components/BadgeStatic.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/haion_landing/me-hero.jpeg"
      alt={placeholderImageAlt}
    />
    <div class="flex items-center md:justify-center">
      <BadgeStatic>Próximamente</BadgeStatic>
    </div>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    ¡Hola! Somos Haion
  </h1>
  <p class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white mt-2">
    Innovación
  </p>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Estamos trabajando en algo increíble.<br/>
    Una nueva experiencia digital que cambiará<br/>
    la forma en que interactúas con la tecnología.<br/>
    ¡Mantente atento para más novedades!
  </p>
</div>